In [26]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [27]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html_data = requests.get(url).text

Get Toronto postal code data from wikipedia with the url above

In [28]:
soup = BeautifulSoup(html_data,'html5lib')

Using the BeautifulSoup library to perform web scraping on the specified url page

In [29]:
raw = []
for row in soup.find('table').find_all('td'):
  raw_row = {}
  if row.find('span').text == 'Not assigned':
    pass

  else:    
    var = row.find('span').text.split('(')

    raw_row['Postal Code'] = row.find('b').text
    raw_row['Borough'] = var[0]
    raw_row['Neighborhood'] = var[1]

    raw.append(raw_row)

It can be seen that the data you want to get is in the table, in the table it can be seen that in the span group there are borough and neighborhood, while for the Postal Code it is in the first 'b' group.

In [30]:
df = pd.DataFrame(raw)
df.head()

  Postal Code           Borough                        Neighborhood
0         M3A        North York                          Parkwoods)
1         M4A        North York                   Victoria Village)
2         M5A  Downtown Toronto         Regent Park / Harbourfront)
3         M6A        North York  Lawrence Manor / Lawrence Heights)
4         M7A      Queen's Park      Ontario Provincial Government)

In [31]:
df['Neighborhood'] = df['Neighborhood'].str.replace(r'\)$|\s$','').str.replace(r'\)',' ').str.replace(r'\s/',', ')
df['Borough'] = df['Borough'].replace({
    'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
    'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
    'EtobicokeNorthwest':'Etobicoke Northwest',
    'East YorkEast Toronto':'East York/East Toronto',
    'MississaugaCanada Post Gateway Processing Centre':'Mississauga'
    })

Neighborhood features are still very dirty with ')', '/', ''. Therefore, it is cleaned and tidied using replace and regex.
For Borough, there are some data that are not suitable, such as PO Boxes and others, so they need to be filtered and replaced with the appropriate data

In [32]:
df

    Postal Code  ...                                       Neighborhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                         Regent Park,  Harbourfront
3           M6A  ...                  Lawrence Manor,  Lawrence Heights
4           M7A  ...                      Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...    The Kingsway,  Montgomery Road,  Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...                                     Enclave of M4L
101         M8Y  ...  Old Mill South,  King's Mill Park,  Sunnylea, ...
102         M8Z  ...  Mimico NW,  The Queensway West,  South of Bloo...

[103 rows x 3 columns]

In [33]:
df.shape

(103, 3)

---

In [20]:
!wget -O GeoSpatial_Dataset.csv https://cocl.us/Geospatial_data

--2021-04-19 12:24:45--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 52.116.127.226, 52.116.127.228
Connecting to cocl.us (cocl.us)|52.116.127.226|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-04-19 12:24:46--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-04-19 12:24:46--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-04-19 12:24:47--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!8U6yVPrUrjcMcM3HhE-NW-V-eNSwdfn3utDFseINvEAhYMrhIX4Z9C7XdZyyHznIuOdq64yzfH9MH7Ynrm6iKIbOJaqbhssUWT6ZlmDnFjFrvj_wKaPmHPS34O779ckJyRzUYdWNAkcVLVt47p2q1cZw7xTShTb0914qjtSWXv50CpN5PcgwPC2cLL3JJGDc5MOg_6i_d_JVAu49WYRW-aw3v_Tro6tswAnE0XR-WG0T8A4MljEOuAvOKZJuvaDyZAL5EudgIdkTvogqtqO62IEAXN1L7c4AcuT3e3otJ7F4KcVhZ6OEkRF2sx6KzTY7TrrrSMSaF5SCmvLbprJigEYM8AOnCBeh9UZhkWlEKYo7oYrJ5m6_a37BTeYnekEz7SuL4kjw22efZSAC7M8vZL3aW-p79z8NSrbKJ5Fy_5K6XzUZLDKC2l01noiDLPJgqumPeq03LbIT74pT4gLEo0aF538ZZ_oNYEgpomqbFnpxEUI-JhBNIklZ7hmLSI2B0OoakhS-A4L8hr0QRD4MO2r4uCjMTNDSzWcgkz25x5cniyzahGKhY1znrCRj74PsrT6B6el75Q-61Bb6-Cw1R63I5heUtoffi92yA_Ym24hBdUYXB30COMe-tphVpYUIUQdgTFZsSLqIK8CXQv8BgL_bZr9_UAXBuLCb6_J239YR5WtPm73iIkqvIhpXwspcH1L90uXYYqaAhsKnajiUi-gldrsG502kGdr4IOw_DW0EtqkonakMGjtZIHpeR1zOe894Y1MB5YnoZN1EycUa0m2oOYWicjf5cxdo-Hv4ZVKJxwjAbrwt3Fo8KKJQj6L3HhxQ3RbG2iL1ZseDiIym5dekUA-YTgG5ThY-2gTFqBKaKi41c4RUB2ZPhYl8AYRfttDbjAJaazg9TQ7_fqWU5BMZIJTsiDjlpjaIyM7aSjoaBNHSjJs-KYyyCMbMVVXkUJOr5i7TqlmdTo3dvHArm4UMu4Mb48b-otwczNwJF53_Av-_EniXNtDCuu3aRYJSgAnvu0oSszuA4wmWV4AC0rgaD7mwYjF-ErDCla4IKXTI9mH9vpsAjCFwwFS_YrjSgv9EQn7IQGTE3RZOWblNoF__URU7xUBdUumNrVVWqG2c4X9o2TA0SV9DcLogifoQqAPacTvnWMXu3GfAUKFCOmdMqnSIYKlRaSvyxLZ5Gu565LSbU1CsAUuXqFHOROtJvf6zQuyt-k9cXpDjFNZQstXnmXmnN2TBFwptsX7KRnBtOQLdvwtn-enFkjsxvNA6HAz1skqKy4BAKo3cmOU6kkfsL4B3b0uBezEY7CnRnjm_25CHawaBsg3JLbdXd4jdQFBrEzqXFNaZBAS0U08htRfVDiYZn1QhhtALbaiSkmY6VCo8rpp1_xHfTdqwikUWU32H1atu0KedNYxT_m7PL88GidTSyrRLzpVJ7aW5AQlog7Jw3ugCniPJ7gwT03BAJwDBXHelIbvhq3o./download [following]
--2021-04-19 12:24:47--  https://public.boxcloud.com/d/1/b1!8U6yVPrUrjcMcM3HhE-NW-V-eNSwdfn3utDFseINvEAhYMrhIX4Z9C7XdZyyHznIuOdq64yzfH9MH7Ynrm6iKIbOJaqbhssUWT6ZlmDnFjFrvj_wKaPmHPS34O779ckJyRzUYdWNAkcVLVt47p2q1cZw7xTShTb0914qjtSWXv50CpN5PcgwPC2cLL3JJGDc5MOg_6i_d_JVAu49WYRW-aw3v_Tro6tswAnE0XR-WG0T8A4MljEOuAvOKZJuvaDyZAL5EudgIdkTvogqtqO62IEAXN1L7c4AcuT3e3otJ7F4KcVhZ6OEkRF2sx6KzTY7TrrrSMSaF5SCmvLbprJigEYM8AOnCBeh9UZhkWlEKYo7oYrJ5m6_a37BTeYnekEz7SuL4kjw22efZSAC7M8vZL3aW-p79z8NSrbKJ5Fy_5K6XzUZLDKC2l01noiDLPJgqumPeq03LbIT74pT4gLEo0aF538ZZ_oNYEgpomqbFnpxEUI-JhBNIklZ7hmLSI2B0OoakhS-A4L8hr0QRD4MO2r4uCjMTNDSzWcgkz25x5cniyzahGKhY1znrCRj74PsrT6B6el75Q-61Bb6-Cw1R63I5heUtoffi92yA_Ym24hBdUYXB30COMe-tphVpYUIUQdgTFZsSLqIK8CXQv8BgL_bZr9_UAXBuLCb6_J239YR5WtPm73iIkqvIhpXwspcH1L90uXYYqaAhsKnajiUi-gldrsG502kGdr4IOw_DW0EtqkonakMGjtZIHpeR1zOe894Y1MB5YnoZN1EycUa0m2oOYWicjf5cxdo-Hv4ZVKJxwjAbrwt3Fo8KKJQj6L3HhxQ3RbG2iL1ZseDiIym5dekUA-YTgG5ThY-2gTFqBKaKi41c4RUB2ZPhYl8AYRfttDbjAJaazg9TQ7_fqWU5BMZIJTsiDjlpjaIyM7aSjoaBNHSjJs-KYyyCMbMVVXkUJOr5i7TqlmdTo3dvHArm4UMu4Mb48b-otwczNwJF53_Av-_EniXNtDCuu3aRYJSgAnvu0oSszuA4wmWV4AC0rgaD7mwYjF-ErDCla4IKXTI9mH9vpsAjCFwwFS_YrjSgv9EQn7IQGTE3RZOWblNoF__URU7xUBdUumNrVVWqG2c4X9o2TA0SV9DcLogifoQqAPacTvnWMXu3GfAUKFCOmdMqnSIYKlRaSvyxLZ5Gu565LSbU1CsAUuXqFHOROtJvf6zQuyt-k9cXpDjFNZQstXnmXmnN2TBFwptsX7KRnBtOQLdvwtn-enFkjsxvNA6HAz1skqKy4BAKo3cmOU6kkfsL4B3b0uBezEY7CnRnjm_25CHawaBsg3JLbdXd4jdQFBrEzqXFNaZBAS0U08htRfVDiYZn1QhhtALbaiSkmY6VCo8rpp1_xHfTdqwikUWU32H1atu0KedNYxT_m7PL88GidTSyrRLzpVJ7aW5AQlog7Jw3ugCniPJ7gwT03BAJwDBXHelIbvhq3o./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘GeoSpatial_Dataset.csv’

GeoSpatial_Dataset. 100%[===================>]   2.82K  --.-KB/s    in 0s

2021-04-19 12:24:48 (396 MB/s) - ‘GeoSpatial_Dataset.csv’ saved [2891/2891]

Download the dataset regarding the latitude and longitude of the Toronto postal code. Because if you use the geocoder package it takes a very long time.

In [21]:
df_geo = pd.read_csv('GeoSpatial_Dataset.csv')

In [39]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [41]:
df_geo.shape

(103, 3)

It can be seen that the geospatial dataset has the same amount of data as the previous data, namely the postal code data in Toronto regarding the borough and neighborhood.

In [37]:
df_merge = df.merge(df_geo, how='inner', on='Postal Code')

The dataset is combined with a key value in the form of a Postal code. or if you are familiar with SQL then the term uses an inner join with a key in the form of a Postal Code

In [38]:
df_merge

    Postal Code                Borough  ...   Latitude  Longitude
0           M3A             North York  ...  43.753259 -79.329656
1           M4A             North York  ...  43.725882 -79.315572
2           M5A       Downtown Toronto  ...  43.654260 -79.360636
3           M6A             North York  ...  43.718518 -79.464763
4           M7A           Queen's Park  ...  43.662301 -79.389494
..          ...                    ...  ...        ...        ...
98          M8X              Etobicoke  ...  43.653654 -79.506944
99          M4Y       Downtown Toronto  ...  43.665860 -79.383160
100         M7Y  East Toronto Business  ...  43.662744 -79.321558
101         M8Y              Etobicoke  ...  43.636258 -79.498509
102         M8Z              Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

In [42]:
df_merge.shape

(103, 5)